$color-main :#3733FB;
$color-accent :#EE7E77;


.button-sec{
    background-color: $color-accent;
    color: white;
    font-size: 22px;
    border: none;
    padding: 15px 40px;
    border-radius: 9px;
    margin: 10px;
    font-weight: 600;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(110%);
    }
     @media screen and (min-width:100px) {
        font-size: 18px;
        font-weight: 400;
        
    }
}