.stable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.stable img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
}

.stable .logo {
  font-weight: 900;
  margin: 0;
  padding: 5px 0 5px 5px;
}

@media screen and (max-width: 229px) {
  .stable .logo {
    font-size: 26px;
  }
}

.stable .btn {
  display: none;
}

.stable .list {
  display: none;
}

.nav-container {
  width: 100%;
}

.mob-nav {
  position: absolute;
  text-align: center;
  z-index: 11;
  background-color: rgba(0, 0, 255, 0.926);
  color: white;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .2 ease-in-out;
  transition: all .2 ease-in-out;
}

.mob-nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mob-nav ul li {
  padding: 30px 0;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (max-width: 229px) {
  .mob-nav ul li {
    font-size: 22px;
  }
}

.mob-nav button {
  padding: 15px 30px;
  font-size: 20px;
  color: #504b4b;
  font-weight: 600;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.mob-nav button:hover {
  background-color: #dcd9d9;
  color: #373737;
}

@media screen and (max-width: 229px) {
  .mob-nav button {
    font-size: 12px;
    color: #181818;
  }
}

@media screen and (max-width: 229px) {
  .mob-nav img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 766px) {
  .stable .logo {
    margin: 20px 0 20px 10px;
    cursor: pointer;
  }
  .stable img {
    display: none;
  }
  .stable .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 28px;
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 9px;
    margin: 20px 10px;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .stable .btn:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
  }
  .stable .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .stable .list li {
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 30px;
    font-size: 13px;
    white-space: nowrap;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .stable .list li:hover {
    -webkit-transform: scale(120%);
            transform: scale(120%);
    color: #2b5fe2;
  }
}

@media screen and (min-width: 772px) {
  .stable .logo {
    margin: 20px 0;
  }
  .stable .btn {
    margin: 20px 0px;
  }
}

@media screen and (min-width: 870px) {
  .stable .logo {
    margin: 20px 0 20px 20px;
  }
  .stable .btn {
    margin: 20px 20px;
  }
  .stable .list li {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1125px) {
  .stable .logo {
    margin: 20px 0 20px 50px;
  }
  .stable .btn {
    margin: 20px 50px 20px 0;
  }
  .stable .list li {
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=nav.css.map */